* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    z-index: 5;
}


/* header */

.header {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 12%;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 15px 4px #000000;
    box-shadow: 0px 0px 15px 4px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    height: 100%;
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.header-item-title {
    text-decoration: none;
    color: #0e62fd;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 5rem;
}

.header-item-link {
    width: 30%;
    height: 100%;
    text-decoration: none;
    color: #5c5c5c;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-item-link-decoration {
    text-decoration: none;
    color: #5c5c5c;
    transition: all 1s;
}

.header-item-link-decoration:hover {
    color: #0e62fd;
    transition: all 0.5s;
}

.header-container-login {
    text-decoration: none;
    color: #0e62fd;
    font-size: 1.1rem;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s;
}

.header-item-login-decoration {
    cursor: pointer;
    transition: all 0.5s;
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    width: auto;
    height: 30%;
    width: 120%;
    padding: 5px;
    background-color: #0e62fd;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item-login-decoration:hover {
    background-color: #6199ff;
    transition: all 1s;
}


/* Pres */

.pres-background {
    width: 100%;
    height: 105%;
    background-color: #0e62fd;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}

.pres-background-ia-img {
    width: 1145px;
    height: 1425px;
    position: fixed;
    top: 10%;
    left: 62%;
    background-image: url('../media/img/login/IA_IMG.png');
    background-size: 47rem;
    background-repeat: no-repeat;
    z-index: 3;
}

.container-pres {
    width: 30%;
    height: 60%;
    margin-right: 45%;
    margin-bottom: 0%;
}

.container-pres-title-text {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container-pres-title {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2rem;
    color: white;
    display: inline-flex;
}

.container-pres-text {
    width: auto;
    height: auto;
    display: inline-flex;
}

.item-pres-text {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    font-size: 1.4rem;
    color: white;
    font-weight: 20;
}

.container-pres-start {
    cursor: pointer;
    width: 70%;
    height: 10%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.item-pres-start-text {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.5rem;
    color: rgb(226, 226, 226);
    font-weight: 20;
}

.item-pres-start-button {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAAABmJLR0QA/wD/AP+gvaeTAAABL0lEQVQokZXOu0oDURSF4X/HENTCQi3MTJ7AYGttJYIgBLTKZLAKgoWVIEFMRCzsxDIgQi4iiu9hL2KjXS5WCiJ4IZllFfBCJpPdrrW+cyD0ZElPW05e4/0asbC543FkxjHvXKfXlBgaiEEZeAKWXsa4YkHxoYBGzR5iAYvAM2LFTXFGSb82oQBAo263FrAMvMnwnEdOhgIAmnW7wcgAn8Cm46nYy2wyq4nREQpRICBNwDIGgo121cqW8uUGohER+HldwVz8I85r4oudKAsZ8yYyGBhst6p2b1GfS3oqmHEIBEC+VbVTgEiAm9Ou4ADoYvitip33soGAk9MesA90gFyrahc/81DA8VVCFIGOiWyzZpd/O30B19eUxB0wLWO9XbHaoN/+u5msZl1fq2Gdb/tRYHOxlf28AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.15rem;
    margin-left: 5%;
    background-color: white;
    transition: all 1s;
}

.container-pres-start:hover .item-pres-start-button {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAAABmJLR0QA/wD/AP+gvaeTAAAAwElEQVQokZ2PsQpBcRSHf0c3g8FitJrIKg9gMylJsllsJiUJs9lk9QQmj+IFFIuFRXH7DI4y3e7/nul0Ot93fkdKKMCACVBI2ksSbPjWEchnEVSAi0sOQJRFUgduLtkDuSySJvBwyTZY4JIW8HTJ6jc3oChpntJTk9T2fmxmOwPKks4ZQsWS6pGku6RZSqghqeP91MxOqc8Bc/8/BkZBWYGFw29gEAovHX4B/VB4/Qf3QuEScPXYwyD4T1IFukk7H6LftbD+BGF9AAAAAElFTkSuQmCC);
    transition: all 1s;
    background-color: black;
}


/* M.A. */

.ma-background {
    width: 100%;
    height: 60%;
    position: absolute;
    background-color: rgb(223, 223, 223);
    -webkit-box-shadow: 0px 0px 8px 5px #000000;
    box-shadow: 0px 0px 8px 5px #000000;
    z-index: 5;
}

/* Login */

.login-background{
    width: 100%;
    height: 120%;
    background-color: black;
    z-index: 6;
    position: absolute;
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
    box-shadow: 0px 0px 8px 2px #000000;
    border-radius: 45px;
}

.login-ia-img{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAAKklEQVQ4jWNgGHGAkYGBgeH/////qWIYIyMjEzUMGgWjYBSQCkbz8iAEAL1HCAe8bua4AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45rem;
    z-index: 6;
}