* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

h2 {
    display: inline-flex;
}

::-webkit-scrollbar {
    z-index: 5;
}

.background-blacken {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #202020cc;
    z-index: 10;
    cursor: pointer;
    transition: all 0.5s;
}


/* header */

.header {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 12%;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 15px 4px #000000;
    box-shadow: 0px 0px 15px 4px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.header-container {
    height: 100%;
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.header-item-title {
    text-decoration: none;
    color: #0e62fd;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 5rem;
}

.header-item-link {
    width: 30%;
    height: 100%;
    text-decoration: none;
    color: #5c5c5c;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-item-link-decoration {
    text-decoration: none;
    color: #5c5c5c;
    transition: all 1s;
}

.header-item-link-decoration:hover {
    color: #8bb9f5;
    transition: all 0.5s;
}

.header-container-login {
    text-decoration: none;
    color: #0e62fd;
    font-size: 1.1rem;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.header-item-login-decoration {
    cursor: pointer;
    transition: all 0.5s;
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    width: auto;
    height: 30%;
    width: 120%;
    padding: 5px;
    background-color: #0e62fd;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item-login-decoration:hover {
    background-color: #6199ff;
    transition: all 1s;
}


/* Pres */

.pres-background {
    width: 100%;
    height: 105%;
    background-color: #0e62fd;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pres-background-ia-img {
    width: 1145px;
    height: 1425px;
    position: fixed;
    top: 10%;
    left: 62%;
    background-image: url('../media/img/login/IA_IMG.png');
    background-size: 47rem;
    background-repeat: no-repeat;
    z-index: 1;
}

.container-pres {
    width: 30%;
    height: 60%;
    margin-right: 45%;
    margin-bottom: 0%;
}

.container-pres-title-text {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container-pres-title {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2rem;
    color: white;
    display: inline-flex;
}

.container-pres-text {
    width: auto;
    height: auto;
    display: inline-flex;
}

.item-pres-text {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    font-size: 1.4rem;
    color: white;
    font-weight: 20;
}

.container-pres-start {
    cursor: pointer;
    width: 70%;
    height: 10%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.item-pres-start-text {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.5rem;
    color: rgb(226, 226, 226);
    font-weight: 20;
}

.item-pres-start-button {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAAABmJLR0QA/wD/AP+gvaeTAAABL0lEQVQokZXOu0oDURSF4X/HENTCQi3MTJ7AYGttJYIgBLTKZLAKgoWVIEFMRCzsxDIgQi4iiu9hL2KjXS5WCiJ4IZllFfBCJpPdrrW+cyD0ZElPW05e4/0asbC543FkxjHvXKfXlBgaiEEZeAKWXsa4YkHxoYBGzR5iAYvAM2LFTXFGSb82oQBAo263FrAMvMnwnEdOhgIAmnW7wcgAn8Cm46nYy2wyq4nREQpRICBNwDIGgo121cqW8uUGohER+HldwVz8I85r4oudKAsZ8yYyGBhst6p2b1GfS3oqmHEIBEC+VbVTgEiAm9Ou4ADoYvitip33soGAk9MesA90gFyrahc/81DA8VVCFIGOiWyzZpd/O30B19eUxB0wLWO9XbHaoN/+u5msZl1fq2Gdb/tRYHOxlf28AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.15rem;
    margin-left: 5%;
    background-color: white;
}

.container-pres-start:hover .item-pres-start-button {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAAABmJLR0QA/wD/AP+gvaeTAAAAwElEQVQokZ2PsQpBcRSHf0c3g8FitJrIKg9gMylJsllsJiUJs9lk9QQmj+IFFIuFRXH7DI4y3e7/nul0Ot93fkdKKMCACVBI2ksSbPjWEchnEVSAi0sOQJRFUgduLtkDuSySJvBwyTZY4JIW8HTJ6jc3oChpntJTk9T2fmxmOwPKks4ZQsWS6pGku6RZSqghqeP91MxOqc8Bc/8/BkZBWYGFw29gEAovHX4B/VB4/Qf3QuEScPXYwyD4T1IFukk7H6LftbD+BGF9AAAAAElFTkSuQmCC);
    background-color: black;
}

.container-pres-start:hover .item-pres-start-text {
    color: rgb(151, 151, 151);
}


/* Login */

.login-background {
    width: 50%;
    height: 120%;
    background-color: #111111;
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
    box-shadow: 0px 0px 8px 2px #000000;
    border-radius: 45px;
    position: fixed;
    left: 50%;
    top: 110%;
    margin-left: -25%;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.login-exit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #202020;
    color: #a8a8a8;
    border: 1px solid rgb(39, 39, 39);
    position: absolute;
    top: 2%;
    left: 93%;
    cursor: pointer;
    z-index: 7;
    transition: all 0.5s;
    font-size: 12px;
    font-weight: bold;
}

.login-exit:hover {
    background-color: #d10000;
    color: #202020;
    transition: all 0.5s;
}

.login-ia-img {
    width: 1208px;
    height: 1472px;
    background-image: url(../media/img/login/IA_IMG_LOGIN.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50rem;
    position: absolute;
    top: -15%;
    left: -21.5%;
}

.login-form {
    width: 40%;
    height: 60%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 7;
}

.login-form-title-container {
    width: 100%;
    height: 10%;
    color: rgb(92, 92, 92);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-form-title-item-login {
    height: 100%;
    color: rgb(255, 255, 255);
    border-bottom: rgb(255, 255, 255) solid 1px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.login-form-title-item-signup {
    height: 100%;
    color: rgb(92, 92, 92);
    border-bottom: rgb(92, 92, 92) solid 1px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.login-form-title-item-login:hover {
    transition: all 0.5s;
    border-bottom: white solid 1px;
    color: white;
}

.login-form-title-item-signup:hover {
    transition: all 0.5s;
    border-bottom: white solid 1px;
    color: white;
}

.login-container-form-input {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-form-input-decoration {
    width: 85%;
    height: 30%;
    padding: 0% 5%;
    margin-top: 10px;
    background-color: #202020;
    -webkit-box-shadow: 0px 0px 2px 1px #2f2f2fd3;
    box-shadow: 0px 0px 2px 1px #2f2f2fd3;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    color: white;
}

.login-form-button {
    width: 77%;
    height: 7%;
    background-color: #0e62fd;
    border: none;
    -webkit-box-shadow: 0px 0px 2px 1px #2f2f2fd3;
    box-shadow: 0px 0px 2px 1px #2f2f2fd3;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.2rem;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.login-form-button:hover {
    background-color: #4888ff;
    transition: all 0.5s;
}


/* M.A. */

.ma-background {
    width: 100%;
    height: 60%;
    position: absolute;
    background-color: rgb(223, 223, 223);
    -webkit-box-shadow: 0px 0px 8px 5px #000000;
    box-shadow: 0px 0px 8px 5px #000000;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ma-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 60%;
}

.ma-item-title {
    width: 35%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2.5rem;
}

.ma-item-texte {
    width: 65%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.ma-container-img {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 20%;
}


/* Service */

.serv-background {
    width: 100%;
    height: 80%;
    margin-top: 30%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serv-container {
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.serv-container-title {
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serv-title {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 3rem;
}

.serv-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
}

.serv-container-service {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.serv-service-container {
    width: 25%;
    height: 80%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 10px;
    border: #d3d3d3 0.5px solid;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.serv-service-img {
    margin-left: 0%;
    margin-top: 5%;
    width: 41px;
    height: 39px;
}

.serv-service-title {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    height: 30%;
}

.serv-service-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    display: flex;
    height: 40%;
}